* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #dad621;
  display: flex;
  justify-content: flex-start;
  justify-content: flex-end; //os itens sao
}

h1 {
  border: solid red;
  display: flex; //ativa as caixas flexiveis
}

nav {
  border: solid rgb(14, 196, 29);
}
