* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 15vh;
  align-items: center;

  align-items: flex-start;
}

div {
  display: flex;
  justify-content: space-between;
  width: 12%;
  align-items: center;
}

h1 {
  display: flex;
}

nav {
  display: flex;
  justify-content: space-evenly;
} /*# sourceMappingURL=style.css.map */
a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #485563;
}

.btnVerdeHeader {
  background-color: #21c05c;
}

.produtosDisponiveis {
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  padding: 10px;

  article {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    justify-content: space-between;
    justify-content: space-around;
  }
  img {
    width: 100%;
    border: solid;
  }

  button {
    width: 45%;
    height: 5vh;
    cursor: pointer;
  }
}
